@import "./_reset"
@import "./mixins/_rwd"
@import "./_variables"
@import "./sweetalert"
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap')

// 共用 classname
*
    font-family: Noto Sans TC

.wide-container
    width: calc(100% - 378px)
    margin-left: 378px
    display: flex

    +breakpoint(zone-nb)
        width: calc(100% - 300px)
        margin-left: 300px

    .main
        flex: 1
        border-right: 1px solid $input-border
        min-height: 100vh

    .popular-container
        width: 462px

        +breakpoint(zone-nb)
            width: 43.5%

//emery 20211204 調整 modal z-index 問題 
.modal-backdrop.show
    display: none

.modal
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, .5)
    border-radius: 0
