.nav
    position: fixed
    width: 378px
    padding-left: 113px
        
    .logo
        max-width: 50px
        margin-bottom: 38px

    ul
        list-style: none
        margin-left: 10px

        li
            margin-bottom: 30px


